<h1>{{ title }}</h1>
<form action="/test/submit" method="post">
    <input type="text" name="id"><br>
    <input type="text" name="id2"><br>
    <button style="background-color: dodgerblue; color: white; display: inline-block; margin: 4px 2px;" type="submit">Enter Food</button>
</form>
<form action="/test/submit2" method="post">
    <input type="text" name="id"><br>
    <input type="text" name="id2"><br>
    <button style="background-color: dodgerblue; color: white; display: inline-block; margin: 4px 2px;" type="submit">Update</button>
</form>