<body style="padding: 200px; font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif; background-color: purple;">
<h1 style="color:red">Here is the JSON Output from API:</h1>
<div style="color:white">
<p><b>Output Results</b></p>
<p><b>Name:</b> {{ output}}</p>
<p><b>Item:</b> {{ output2}}</p>
</div>
</body>